.header{
    background-color: #e8e8e8;
}

.header .logo{
    height: 100px;
    background-color: #c9c9c9;
    text-align: center;
    line-height: 100px;
}

.header .gnb{}

.header .gnb_container .gnb{
    height: 80px;
    width: 1040px;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    background-color: #d9d9d9;
}

.content{
    width: 1040px;
    margin: 0 auto;
    height: 544px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.footer{
    background-color: #c9c9c9;
}

.footer .inner{
    width: 1040px;
    height: 300px;
    margin: 0 auto;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}